<div id=<%= client._id %> class="client-card">
  <div class="client-info">
    <h4 class="client-title">
      <%= client.title %>
    </h4>
    <div class="card-content">
      <p class="client-phone">
        <%= client.phone %>
      </p>
      <p class="client-email">
        <%= client.email %>
      </p>
    </div>
  </div>
  <button class="delete-client">&times</button>
</div>