<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    <%= h.siteName %> - Paperwork faster
  </title>
  <link rel="stylesheet" href="./styles.css" />
  <link rel="icon" type="image/x-icon" href="/assets/fav.png" />
</head>